.pretty-ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.centered-ul {} #nearbyList {
    text-align: justify;
}
#nearbyList a {
    margin-bottom: 5px;
    height: 62px;
    display: block;
    border: 1px solid silver;
    text-decoration: none;
    color: #525252!important;
}
#nearbyList a:hover {
    background-color: yellow;
}
.info-inline {
    padding: 8px;
    display: inline-block;
}
.info-inline > span {
    margin-right: 20px;
}
#nearbyList a > div {
    vertical-align: top;
    display: inline-block;
    height: 60px;
}