.side-tag {
    background-color: #26debd;
    height: 45px;
    width: 45px;
    text-align: center;
    padding: 12px;
    position: absolute;
    right: 45px;
    margin-right: -40px;
    margin-top: -11px;
    /* 
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px; 
    */
}
.center-options {
    text-align: center;
    padding-top: 15%;
}
.center-options > a {
    text-decoration: none!important;
}
.center-options > a:hover {
    text-decoration: none!important;
}
.center-options h3 {
    color: white;
    margin-bottom: 15px;
}
.side-tag i {
    color: #232531!important;
    font-size: 1.5em;
}
#welcome {
    height: 100vh;
    margin: 0;
    padding: 0;
 /*   background-color: #fff; */
    text-align: center;
}
#welcome.setup {
    background-color: #232531;
}
#welcome.setup > .innit-screen {
    display: block;
}
#welcome.setup > ul {
    display: none;
}
#welcome.setup > .load-block {
    display: none;
}
#welcome.result-list > .load-block {
    display: none;
}
#welcome.processing > .innit-screen {
    display: none;
}
#welcome.result-list > .innit-screen {
    display: none;
}
#welcome.processing > .load-block {
    display: block;
}